/* GRID LAYOUT */
.acfes-layout-grid {
	@media screen and (min-width: $med-bp) {
		display: grid;
		// grid-column-gap: 1rem;
	}

	.acfes-time,
	.acfes-time-line,
	.acfes-col-location {
		display: none;
		@media screen and (min-width: $med-bp) {
			display: block;
		}
	}

	.acfes-session-title {
		font-size: var(--font-size-sm);
		line-height: 1.2;
		font-weight: 700;
	}
	.acfes-session-track {
		font-size: var(--font-size-2xs);
		font-weight: 600;
	}

	.acfes-session-speakers {
		ul {
			padding-left: 0;
			list-style: none;
		}
	}

	.acfes-event-card {
		position: relative;
		z-index: 5;
		margin: 2px;
		padding: 0.5rem;

		border-width: 0;
		border-inline-start-width: 4px;
		border-style: solid;
		border-color: transparent;

		font-size: 0.8em;
		line-height: 1;

		--card-background-color: var(--color-gray-100);
		--card-border-color: var(--color-gray-300);

		color: var(--card-text-color);
		border-color: var(--card-border-color);
		background-color: var(--card-background-color);

		&:has(a) {
			a {
				text-decoration: none;
			}

			transition-property:
				opacity, transform, scale, translate, rotate, color, background-color,
				border-color, outline-color, text-decoration-color, box-shadow,
				text-shadow, background-size, filter, outline-offset;
			transition-duration: 150ms;
			transition-timing-function: ease;

			&:hover,
			&:focus-within {
				color: var(--card-text-color--shifted, var(--card-text-color));
				border-color: var(
					--card-border-color--shifted,
					var(--card-border-color)
				);
				background-color: var(
					--card-background-color--shifted,
					var(--card-background-color)
				);
			}
		}
	}

	@supports (display: grid) {
		@media screen and (min-width: $med-bp) {
			.acfes-event-card {
				// margin: 0;
			}
		}
	}

	.acfes-event-card.acfes-session-type-session,
	.acfes-event-card.acfes-session-type-special,
	.acfes-event-card.acfes-session-type-keynote {
	}
	.acfes-event-card.acfes-session-type-special {
		--card-background-color: var(--color-yellow-200);
		--card-background-color--shifted: var(--color-yellow-300);
		--card-border-color: var(--color-yellow-500);
	}

	.acfes-event-card.acfes-track-civics-media {
		--card-background-color: var(--color-red-200);
		--card-background-color--shifted: var(--color-red-300);
		--card-border-color: var(--color-red-500);
	}
	.acfes-event-card.acfes-track-community-culture {
		--card-background-color: var(--color-orange-200);
		--card-background-color--shifted: var(--color-orange-300);
		--card-border-color: var(--color-orange-500);
	}
	.acfes-event-card.acfes-track-health-healthcare {
		--card-background-color: var(--color-green-200);
		--card-background-color--shifted: var(--color-green-300);
		--card-border-color: var(--color-green-500);
	}
	.acfes-event-card.acfes-track-growth-economy {
		--card-background-color: var(--color-blue-200);
		--card-background-color--shifted: var(--color-blue-300);
		--card-border-color: var(--color-blue-500);
	}

	.acfes-event-card.acfes-session-type-keynote {
		--card-background-color: var(--color-yellow-200);
		--card-background-color--shifted: var(--color-yellow-300);
		--card-border-color: var(--color-yellow-500);

		.acfes-session-track {
			font-size: var(--font-size-sm);
		}
		.acfes-session-title {
			font-size: var(--font-size-lg);
		}
		.acfes-session-speakers {
			display: none;
		}
	}

	.acfes-event-card[class*="acfes-session-break "],
	.acfes-event-card[class*="acfes-session-break-"] {
		--card-text-color: var(--color-gray-700);

		.acfes-session-title {
			font-size: var(--font-size-xs);
			font-weight: 600;
		}
	}

	// @media screen and (max-width: $med-bp) {
	// 	.acfes-session-speakers {
	// 		display: block;
	// 	}

	// 	.acfes-session-time {
	// 		font-weight: bold;
	// 	}
	// }

	@media screen and (min-width: $med-bp) {
		.acfes-session-time {
			display: none;
		}
	}

	.acfes-time {
		grid-column: times;
		grid-row: var(--acfes-grid-row);
		background-color: transparent;
		margin-block: 0;
		font-size: 1em;
		font-weight: bold;
		font-size: 0.8em;
		text-align: right;
		padding: 0.5rem;
	}
	.acfes-time-line {
		grid-row: var(--acfes-grid-row);
		grid-column: 2 / -1;
		width: 100%;
		margin: 0;
		z-index: 0;
		background-color: var(--color-gray-300);
		height: 1px;
	}

	.acfes-col-location {
		position: sticky;
		top: 0;
		top: var(--wp-admin--admin-bar--height);

		z-index: 10;

		border-bottom: 1px solid;
		margin-bottom: -1px;
		border-color: var(--color-gray-300);

		grid-column: var(--acfes-grid-column);
		padding: 0.5rem;

		color: var(--color-gray-900);
		background-color: var(--color-white);

		font-weight: bold;
		font-size: 0.8em;
		line-height: 1;
	}

	.acfes-event-card {
		grid-row: var(--acfes-grid-row);
		grid-column: var(--acfes-grid-column);
	}

	.acfes-event-card.acfes-session-type-keynote {
	}
	.acfes-event-card.acfes-session-type-break {
		// z-index: 3;
	}
}

// Table Colors
.acfes-layout-table {
	border: 1px solid #ddd;

	tr {
		background-color: #fff;
	}

	td {
		border: #ddd solid 0;
	}

	thead th {
		background-color: #f2f2f2;
		border: #ddd solid 1px;
		color: #000000;
	}

	[class*="acfes-session-type-"] {
		border-width: 1px;
		border-bottom-width: 0;
	}

	.acfes-session-type-session {
		background-color: transparent;
	}

	.acfes-col-time {
		width: 120px;
	}

	.acfes-col-time,
	.acfes-col-location {
		// header
		background-color: #eee;
	}

	.acfes-time {
		background-color: transparent;
		border-width: 1px;
	}

	.acfes-session-empty {
		background-color: transparent;
		border-right-width: 1px;
	}

	// Table Metadata on Mobile
	@media screen and (max-width: $med-bp) {
		.acfes-session-type-session {
			&:before {
				color: #555;
			}
		}
	}
}
/* TABLE STRUCTURE */
.acfes-layout-table {
	width: 100%;
	border-spacing: 0px;
	table-layout: fixed;
	margin-bottom: 0;

	tbody,
	tr,
	td,
	th {
		text-align: center;
		vertical-align: top;
	}

	tr {
		td {
			padding-top: 1em;
			padding-bottom: 1em;
			white-space: pre-wrap;
			word-break: break-word;
		}
	}

	thead th {
		border-bottom: none;
		font-weight: bold;
		padding-top: 0.8em;
		padding-bottom: 0.8em;
		border-bottom: none;
	}

	.acfes-session-empty {
		// border-right: 1px solid #dee2e6;
	}

	.acfes-time {
		min-width: 105px;
	}

	.acfes-track-description,
	.acfes-session-speakers {
		display: inline-block;
	}

	.acfes-global-session {
		td:not(.acfes-time) {
			padding: 1.5em 0 !important;
		}
	}

	@media screen and (max-width: $med-bp) {
		width: 100%;

		tbody,
		tr,
		td,
		th {
			display: block;
		}

		tr {
			td {
			}
		}

		thead {
			display: none;
		}

		[class*="acfes-session-type-"] {
			border-width: 0 !important;
			border-top: 0;
		}

		.acfes-session-empty {
			display: none;
		}

		.acfes-time {
			font-size: 1.2em;
			padding: 0 1em;
			margin-top: 1em;
			border-left: 0;
			border-right: 0;
		}

		.acfes-session-type-session {
			line-height: 1.4;
		}

		.acfes-session-type-session {
			&:before {
				content: attr(data-track-title);
				display: block;
				font-size: 110%;
				line-height: 1;
				margin-bottom: 0.5em;
				padding: 0.3em 0.8em;
			}
		}

		.acfes-session-type-session + .acfes-session-type-session {
			&:before {
				border-top: 1px dotted #ccc;
				padding-top: 0.8em;
			}
		}

		.acfes-global-session {
			.acfes-session-type-session {
				&:before {
					display: none;
				}
			}
		}

		.acfes-session-title {
			display: block;
			padding: 0.8em;
		}

		.acfes-session-speakers {
			display: block;
		}

		&.acfes-color-scheme-dark {
			.acfes-session-type-session:before {
			}
		}
	}
}
